<h2>Ngo Linh Chi</h2>
<h3>2021050894</h3>
<form asp-action="Index">
    <label>Ho va Ten Nhan vien:</label>
    <input type = "string" name ="hoten" placeholder="Ho va ten" /> <br>
    <label> He so luong:</label>
    <input type = "number" name ="hsl" placeholder="He so luong" /><br>
    <label>Phu cap:</label>
    <input type = "number" name ="pc" placeholder="Phu cap" /><br>
    <button type = "Submit">Tinh</button> <br>
</form>
<h1>@ViewBag.Noti</h1>