<form asp-action="Index">
    <input type = "text" name ="Fullname" placeholder="Enter Name" />
    <input type = "email" name = "Email" placeholder="Enter Email"/>
    <button type ="Submit" > Save </button>
</form>
<h1>@ViewBag.Noti</h1>