@model FirstWebMVC.Models.Person

@{
    ViewData["Title"]= "Edit";
}
<h1>Edit</h1>
<hr>
<div class ="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="w3-container w3-card-4">
              <h2 class="w3-text-grey">Person</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PersonID">
            <div class="form-group">
                <label asp-for="FullName" class="control-label w3-text-grey"></label>
                <input asp-for="FullName" class="form-control w3-input w3-border">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label w3-text-grey"></label>
                <input asp-for="Address" class="form-control w3-input w3-border">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label w3-text-grey"></label>
                <input asp-for="PhoneNumber" class="form-control w3-input w3-border">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary w3-border w3-grey">
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}